body {
  background-color: white;
  padding: 5rem;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.note-hdn {
  font-size: 32px;
  color: #810D0D;
}

form input {
  height: 3rem;
  width: 20rem;
  background-color: white;
  margin-bottom: 2rem;

}

form button {
  background-color: white;
  color: black;
  display: block;
  margin: auto;
  border: 1px solid black;
  height: 5rem;
  width: 8rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 400;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.notes ul {
  color: black;
  font-size: 1.5rem;
  list-style-type: circle;
}